body{
	background-image: url(vintage.jpeg);
	background-size: cover;
	background-repeat: no-repeat;


}

h1 {
	font-family: arial;
	font-size: 3em;
	border-width: 2px solid blue;
	text-align: center;
	color: black;

}
h1:hover{
	transform: scale(2.1);
}


p{color: black;

}


.container{
	padding: 10px;
	border: 5px solid; black;
	margin-left: 200px;
	width: 30%;
	box-sizing: border-box;
	text-align: right;

}
.container:hover{
	transform: scale(1.1);
}
a href: hover{
	transform: scale(1.1);
}

