body{
	background-image:url(blue.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

form{

	padding: 10px;
	border: 5px solid; black;
	margin-left: 400px;
	width: 30%;
	box-sizing: border-box;
	text-align: left;
	text-align: center;
}

h2{
	text-align: center;
	font-family: serif;
}
p{ text-align: center; 
	font-family: arial;
}
